/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../img/imagenfondo.jpg);
    background-size: 100% auto;
}

/* elementos recurrentes */

.titulo {
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitulo {
    font-size: 1.5rem;
    font-weight: 500;
}

input {
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 3px;
}

input:hover{
    border-style: solid;
    border-color: hotpink;
}

.boton {
    background-color: hotpink;
    
}

/* cajas */ 

.contenedor{
    background-color: rgba(240, 248, 255, 0.719);
    margin: 15rem;
    padding: 3rem;
    border-radius: 25px;
}

.contenedor__titulo{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.formulario__elemento {
    padding-bottom: 0.8rem;
}

.contenedor__boton{
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}