/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../img/imagen-fondo.jpg);
    background-size: 100% auto;
}

/* elementos recurrentes */

.titulo {
    font-size: 2rem;
}

.subtitulo {
    font-size: 1.5rem;
    font-weight: 600;
}

.contenedor{
    background-color: rgba(240, 248, 255, 0.719);
    margin: 15rem;
    padding: 3rem;
}

.contenedor__titulo{
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.formulario__elemento {
    padding-bottom: 0.8rem;
}

.contenedor__boton{
    margin-left: 5rem;
}